<ul>
<li><a href="https://minecraft.curseforge.com/mc-mods/224472">AppleCore (by squeek502)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/269036">Pam's Cookables - Pam's Harvestcraft Addon (by BloodWorkXGaming)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/240630">Just Enough Resources (JER) (by way2muchnoise)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/310812">Just Enough Energistics (JEE) (by TheRealp455w0rd)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/238403">Better Builder's Wands (by Portablejim)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/295222">Expanded Equivalence (by Zeitheron)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/253449">Hwyla (by TehNut)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/352039">Macaw's Roofs (by sketch_macaw)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/311378">Project EX (by LatvianModder)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/271835">Thermal Cultivation (by TeamCoFH)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/268495">Simple Storage Network (by Lothrazar)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/267939">Just Enough HarvestCraft (JEHC) (by mrAppleXZ)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/257356">In Control! (by McJty)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/237307">Cosmetic Armor Reworked (by LainMI)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/256247">Mystical Agradditions (by BlakeBr0)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/248453">Shadowfacts' Forgelin (by ShadowfactsDev)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/244559">Wireless Crafting Terminal (by TheRealp455w0rd)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/74120">Natura (by mDiyo)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/261837">Signpost (by Gollorum)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/225635">AgriCraft (by InfinityRaider)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/69118">Morpheus (by Quetzi)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/235107">NotEnoughIDs (by fewizz_)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/254602">Tesla Core Lib (by face_of_cat)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/247921">ZeroCore (by ZeroNoRyouki)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/244023">CXLibrary (by cubex2)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/225643">Botania (by Vazkii)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/224535">IvToolkit (by Ivorforce)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/291936">FindMe (by Buuz135)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/255177">YABBA (by LatvianModder)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/222880">Thermal Foundation (by TeamCoFH)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/226780">ShadowMC (by ShadowfactsDev)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/268560">Mekanism (by bradyaidanc)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/270789">Redstone Flux (by TeamCoFH)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/268566">Mekanism Generators (by bradyaidanc)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/247401">Hammer (Lib) Core (by Zeitheron)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/69162">CoFH Core (by TeamCoFH)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/245174">Ender Storage 1.8.+ (by covers1624)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/69163">Thermal Expansion (by TeamCoFH)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/317586">FTB Guides 2 (by LatvianModder)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/307560">Dynamic Trees - Pam's Harvestcraft Compat (by ferreusveritas)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/229587">BNBGamingLib (by bloodnbonesgaming)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/319264">Loading Screens (by bloodnbonesgaming)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/377201">TickCentral (by Terminator_NL)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/245755">Waystones (by BlayTheNinth)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/231275">Ding (by ohaiiChun)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/271384">CoFH World (by TeamCoFH)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/255232">p455w0rd's Library (by TheRealp455w0rd)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/253565">Environmental Lunar Tech (by ValkyrieofNight)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/283644">Placebo (by Shadows_of_Fire)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/261924">Farming for Blockheads (by BlayTheNinth)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/408974">Dynamic Trees - Pam's Trees (by supermassimo0310)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/241319">Reliquary v1.3 (by P3pp3rF1y)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/272515">Better Advancements (by way2muchnoise)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/228513">Loading Profiler (by Lumien231)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/389487">Pixelmon (by PixelmonMod)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/59751">Forestry (by _ForgeUser7678633)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/248020">Flux Networks (by sonar_sonic)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/228525">Bookshelf (by DarkhaxDev)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/297038">CraftPresence (by CDAGaming_)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/241895">KleeSlabs (by BlayTheNinth)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/240783">SimpleHarvest (by TehNut)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/228529">Better Foliage (by octarine_noise)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/263624">Moar Tinkers (by AshuraNoYami)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/253043">WanionLib (by WanionCane)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/225194">AE2 Stuff (by bdew)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/356646">GunpowderLib (by Jackyy)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/221857">Pam's HarvestCraft (by pamharvestcraft)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/297057">LetsEncryptCraft (by CloudyPSP)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/250277">Extreme Reactors (by ZeroNoRyouki)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/227443">Thermal Dynamics (by TeamCoFH)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/291499">PTRLib (by RazzleberryFox)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/251396">InfinityLib (by InfinityRaider)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/386747">Dynamic Trees - Tinker's Construct (by supermassimo0310)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/79287">Waila Harvestability (by squeek502)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/293176">PamSimpleHarvest (by Cerulan)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/238590">Flat Colored Blocks (by AlgorithmX2)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/386753">Dynamic Trees - Quark (by supermassimo0310)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/314904">FTB Backups (by LatvianModder)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/251407">Client Tweaks (by BlayTheNinth)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/250850">Tiny Progressions (by Kashdeya)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/318248">IV Chaining for Pixelmon (by BeetoGuy)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/386760">Dynamic Trees - Extra Utilities 2 (by supermassimo0310)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/223565">Draconic Evolution (by brandon3055)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/228027">BiblioCraft (by Nuchaz)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/274259">Carry On (by Tschipp)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/59816">Random Things (by Lumien231)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/246974">Solar Flux Reborn (by Zeitheron)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/406835">Soul Sand Life (by LCLC98)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/235279">Chisel (by tterrag1098)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/231382">Brandon's Core (by brandon3055)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/221915">Pam's Simple Recipes (by pamharvestcraft)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/277616">Spice of Life: Carrot Edition (by lordcazsius)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/277064">MysticalLib (by EpicSquid315)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/260912">XNet (by McJty)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/257573">Xtones (by TehNut)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/231951">Immersive Engineering (by BluSunrize)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/78778">Chest Transporter (by cubex2)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/224712">Wawla - What Are We Looking At (by DarkhaxDev)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/267602">ConnectedTexturesMod (by tterrag1098)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/239197">CraftTweaker (by Jaredlll08)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/233071">Crafting Tweaks (by BlayTheNinth)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/277631">ArchitectureCraft - TridentMC Version (by darkevilmac)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/250898">Ore Excavation (by Funwayguy)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/351725">Macaw's Bridges (by sketch_macaw)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/237541">Totemic (by ljfa2)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/226406">Custom Main Menu (by Lumien231)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/366216">Dynamic Trees - Natura (by supermassimo0310)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/226410">ProjectE (by SinKillerJ)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/243121">Quark (by Vazkii)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/266515">Industrial Foregoing (by Buuz135)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/250363">AutoRegLib (by Vazkii)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/405211">Checklist (by LCLC98)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/359540">Macaw's Furniture (by sketch_macaw)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/284904">No Recipe Book (by Seneschal_Luwin)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/233105">McJtyLib (by McJty)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/238123">stimmedcow : NoMoreRecipeConflict (by GotoLink)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/74924">Mantle (by mDiyo)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/229218">ExtraCells2 (by Destroyer7128)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/244258">UniDict (by WanionCane)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/223094">Inventory Tweaks (by JimeoWan)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/55438">MrCrayfish's Furniture Mod (by MrCrayfish)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/336166">Pixelmon Clothes (by CriogonalPlays)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/272671">Tinkers' Complement (by KnightMiner)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/253735">Custom Starter Gear (by brandon3055)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/220318">Biomes O' Plenty (by Forstride)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/226447">Resource Loader (by Lumien231)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/250398">Controlling (by Jaredlll08)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/250957">Tinkers' Tool Leveling (by bonusboni)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/70496">BdLib (by bdew)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/289397">XP From Harvest (by ReaIGecko)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/365156">DexNav for Pixelmon (by BeetoGuy)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/350675">Pam's BrewCraft (by pamharvestcraft)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/250419">Enchantment Descriptions (by DarkhaxDev)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/231484">Cooking for Blockheads (by BlayTheNinth)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/289412">FTB Quests (by LatvianModder)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/254879">Storage Drawers Extras (by Texelsaur)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/253211">MTLib (by Jaredlll08)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/78320">More Furnaces (by cubex2)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/376876">Tinkers' Reforged (by mrthomas20121)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/223150">Recurrent Complex (by Ivorforce)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/227049">Iron Backpacks (by gr8pefish)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/238747">Mod Name Tooltip (by mezz)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/253230">Initial Inventory (by Jaredlll08)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/247661">TAIGA (Tinkers alloying addon) (by zkafaceTV)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/252676">Clipboard (by ShadowfactsDev)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/248787">AppleSkin (by squeek502)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/313402">ProjectE Integration (by TagnumElite)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/267172">MineTogether (by Official_CreeperHost)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/245453">Environmental Tech (by ValkyrieofNight)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/229302">Custom Loading Screen (by AlexIIL)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/237102">FTB Utilities (by LatvianModder)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/230976">Fast Leaf Decay (by olafskiii)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/220954">ModTweaker (by Jaredlll08)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/278882">Blockcraftery (by EpicSquid315)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/238222">Just Enough Items (JEI) (by mezz)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/227083">Baubles (by Azanor13)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/228756">Iron Chests (by ProgWML6)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/229876">BetterFps (by Guichaguri)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/245480">ValkyrieLib (by ValkyrieofNight)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/363569">Macaw's Windows (by sketch_macaw)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/267769">Traverse: Legacy Continued (by ProspectorDev)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/237701">ReAuth (by TechnicianLP)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/291737">Thermal Innovation (by TeamCoFH)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/285612">RandomPatches (by TheRandomLabs)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/233255">Login Shield (by Glasspelican)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/60028">Aquaculture 2 (by Shadowclaimer)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/223794">Applied Energistics 2 (by AlgorithmX2)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/223797">HelpFixer (by matthewprenger)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/237167">FTB Library (by LatvianModder)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/378646">Macaw's Doors (by sketch_macaw)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/228815">OpenModsLib (by OpenMods)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/228816">OpenBlocks (by OpenMods)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/246640">Mystical Agriculture (by BlakeBr0)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/289529">Dynamic Trees - Biomes O' Plenty Compat (by mangoose3039)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/229380">Inventory Pets (by Purplicious_Cow_)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/390354">Bio Library (by mrthomas20121)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/230497">Chameleon (by Texelsaur)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/242195">Dark Utilities (by DarkhaxDev)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/304024">AE2 Wireless Terminal Library (by TheRealp455w0rd)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/268387">Extended Crafting (by BlakeBr0)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/243883">Chicken Chunks 1.8.+ (by covers1624)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/291786">Tinker's JEI (by Possible_triangle)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/257814">CreativeCore (by CreativeMD)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/271740">Toast Control (by Shadows_of_Fire)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/257818">LittleTiles (by CreativeMD)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/250577">Akashic Tome (by Vazkii)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/306283">FTB Money (by LatvianModder)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/60089">Mouse Tweaks (by YaLTeR)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/314081">Pixelmon Information for Pixelmon Reforged (by Bletch1971)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/278993">Bonsai Trees 2 (by davenonymous)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/223852">Storage Drawers (by Texelsaur)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/258944">Customized Dungeon Loot (by XxRexRaptorxX)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/256717">Clumps (by Jaredlll08)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/231095">Chisels & Bits (by AlgorithmX2)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/252818">Dynamic Trees (by ferreusveritas)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/401558">Dynamic Trees - Forestry (by supermassimo0310)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/267321">Pixelmongo (by Jaredlll08)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/272335">Cucumber Library (by BlakeBr0)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/411587">PokehaanCraft Additions (by LCLC98)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/79616">Decocraft (by RazzleberryFox)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/232791">It's the little things (by Zlepper)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/242818">CodeChicken Lib 1.8.+ (by covers1624)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/32274">JourneyMap (by techbrew)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/252848">Nature's Compass (by Chaosyr)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/225561">Extra Utilities (by RWTema)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/223891">MalisisDoors (by Ordinastie)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/241160">NetherPortalFix (by BlayTheNinth)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/309674">Item Filters (by LatvianModder)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/223896">MalisisCore (by Ordinastie)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/245620">Realistic Item Drops (by Funwayguy)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/222789">Sound Filters (by Tmtravlr)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/74072">Tinkers Construct (by mDiyo)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/278494">Foam​Fix (by asiekierka)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/277938">Integration Foregoing (by Jackyy)</a></li>
</ul>
